/* 
    Created on : 14-Jan-2022, 3:18:25 PM
    Author     : konru
*/

.center {
    text-align: center;
    margin: auto;
    border: 2px solid black;
    width: 250px;
    height: 350px;
    
}
body {
     background-color: lightblue;
}